repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.6
  hooks:
    - id: ruff
      args: [ --fix ]
    - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
    - id: mypy

- repo: local
  hooks:
    - id: pytest
      name: Run tests
      entry: pytest tests/ -v
      language: system
      stages: [pre-push]
      always_run: true

- repo: https://github.com/PyCQA/bandit
  rev: 1.8.3
  hooks:
  - id: bandit
    exclude: tests/

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: 'v4.6.0'
  hooks:
    - id: check-added-large-files
    - id: check-merge-conflict
    - id: detect-private-key
    - id: check-json
    - id: check-toml
    - id: check-yaml
    - id: double-quote-string-fixer
    - id: end-of-file-fixer
    - id: name-tests-test
      files: ^(tests)/.+\.py$
      exclude: ^(tests).+(mock|util|constant|fixtur).*(\.py)$
      args:
        - '--pytest-test-first'
    - id: trailing-whitespace
      exclude: ^.+(\.md)$
